//VARIABLES
$debugSwitch: false;

//IMPORT EVERYTHING
@import "mixins", "partials/all";
html {
    font-size:100%;
    height:100%;
    width:100%;
}
body {
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:#0B0D11;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    overflow-x:hidden;
    color:white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
#app {
    height:100%;
    width:100%;
    padding:8px;
}

*, *:after, *:before {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}